<div class="">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['../users']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All</a>
    </li>

    <ng-container *ngIf="currentUsers.length > 0">
      <li class="nav-item" *ngFor="let user of currentUsers">
        <a class="nav-link" [routerLink]="['../users/', user._id]" routerLinkActive="active">{{ user.firstname }} {{ user.lastname }}</a>
      </li>
    </ng-container>   
  </ul>
</div>

<div class="container p-4">
  <router-outlet></router-outlet>
</div>