<div class="">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['../users']">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active">More</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active">Options</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLinkActive="active">Disabled</a>
    </li>
  </ul>
</div>

<div class="container p-4">
  <router-outlet></router-outlet>
</div>