<form method="post" class="top-buffer">
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="user.firstname" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname" placeholder="Last Name">
      </div>
  </div>
  <button class="btn btn-primary" (click)="update()">Save</button>
</form>